<%= form_for @comment ||= Comment.new, method: :post, remote: true do |f|%>
  <div class="form-group">
    <%= f.label "태그" %>
    <%= f.select :mention_list , options_for_select(User.all.map {|u| [u.name, u.id]}),{},{multiple: true , class: "form-control mb-3"}%>
    <%= f.label "내용" %>
    <%= f.text_area :comment, id: "comment-textarea", class: "form-control", placeholder: "입력 란" %>
    <%= f.hidden_field :commentable_type, value: "Posts" %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit "입력", class: "btn btn-primary btn-md" %>
<% end %>

<script>
</script>